<div class="mb-6 text-center">
  <span class="text-3xl font-bold">
    <h1><%= "プロフィールの編集" %></h1>
  </span>
</div>

<div class='flex flex-wrap justify-center mb-6'>
  <%= form_with model: @user, url: profile_path, html: { class: 'w-11/12 md:w-10/12 xl:w-8/12' }, data: { turbo_method: false } do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="mb-6">
      <%= f.label :name, class: 'mb-2 block text-sm text-gray-600' %>
      <%= f.text_field :name, class: 'w-full rounded-md border border-gray-300 py-2 px-3 placeholder:text-gray-300 focus:border-indigo-300 focus:outline-none focus:ring focus:ring-indigo-100' %>
    </div>
    <div class="mb-6">
      <%= f.label :email, class: 'mb-2 block text-sm text-gray-600' %>
      <%= f.email_field :email, class: 'w-full rounded-md border border-gray-300 py-2 px-3 placeholder:text-gray-300 focus:border-indigo-300 focus:outline-none focus:ring focus:ring-indigo-100' %>
    </div>
    <p><%= f.submit "更新", class: 'inline-flex w-full items-center justify-center rounded-md bg-indigo-500 p-3 text-white duration-100 ease-in-out hover:bg-indigo-600 focus:outline-none cursor-pointer' %></p>
  <% end %>
</div>

<div class="text-center">
  <%= link_to "戻る", mypage_path %>
</div>
