<div class="bg-gray-800 h-screen">
  <div class="p-10">
    <div class="mb-6 text-center">
      <span class="text-3xl text-gray-300 font-bold">
        <h2>Log in</h2>
      </span>
    </div>
    
    <div class='flex flex-wrap justify-center mb-6'>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "w-11/12 md:w-10/12 xl:w-8/12" }, data: { turbo: false } ) do |f| %>
        <div class="mb-6">
          <%= f.label :email, class: "mb-2 block text-sm text-gray-300" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "w-full rounded-md border border-gray-300 py-2 px-3 bg-gray-200 text-gray-800 placeholder:text-gray-800 focus:border-indigo-300 focus:outline-none focus:ring focus:ring-indigo-100" %>
        </div>
    
        <div class="mb-6">
          <%= f.label :password, class: "mb-2 block text-sm text-gray-300" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "w-full rounded-md border border-gray-300 py-2 px-3 bg-gray-200 text-gray-800 placeholder:text-gray-800 focus:border-indigo-300 focus:outline-none focus:ring focus:ring-indigo-100" %>
        </div>
      
        <div class="actions">
          <%= f.submit 'Log In', class: "inline-flex w-full items-center justify-center rounded-md bg-indigo-500 p-3 text-white duration-100 ease-in-out hover:bg-indigo-600 focus:outline-none cursor-pointer" %>
        </div>
      <% end %>
    </div>
    
    <div class="text-center">
      <%= render "users/shared/links" %>
      </br>
      <h4 class="text-gray-300" >or</h4>
      </br>
      <%= link_to guest_login_path,
                  data: { turbo_method: :post } do %>
        <bunton class="btn btn-primary text-gray-300">お試しログイン</button>
      <% end %>
    </div>
  </div>
</div>
