<div class="card card-compact w-96 bg-base-100 shadow-xl bg-gray-800 p-10">
  <figure><%= image_tag pet.bird.bird_image_url, class: 'card-img-top', size: '300x200' %></figure>
  <div class="card-body">
    <h2 class="card-title text-gray-300"><%= pet.name %></h2>
    <h2 class="card-title text-gray-300"><%= "飼い主: #{pet.user.name}" %></h2>
    <div class="card-actions justify-end">
      <%= render 'pets/favorite_button', { pet: pet } %>
      <%= link_to "様子を見る", pet_path(pet), class: "btn btn-primary" %>
    </div>
  </div>
</div>
