<div class="card card-compact w-96 bg-base-100 shadow-xl">
  <figure><%= image_tag @bird.bird_image_url, class: 'card-img-top', size: '300x200' %></figure>
  <div class="card-body">
    <h2 class="card-title"><%= @bird.bird_type %></h2>
    <p><%= @bird.description %></p>
  </div>
  <%= form_with model: @pet, url: [@bird, @pet], local: true do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="form-group">
      <%= f.label :name, '以下にペットの名前を入力してください' %>
      <%= f.text_field :name, class:'form-control bg-red-200' %>
    </div>
    <%= f.submit 'お迎えする', class: 'btn btn-primary' %>
  <% end %>
</div>
