<div data-controller="talk-to-bird" data-talk-to-bird-pet-id="<%= @pet.id %>">
  <div data-controller="bird-speak" data-bird-speak-pet-id="<%= @pet.id %>">
    <div class="container mx-auto md:w-12/12 lg:w-10/12">
      <div class="grid grid-cols-12 gap-3">
        <div class="col-span-3">
          <h2 class="card-title"><%= @pet.name %></h2>
          <h2 class="card-title"><%= "飼い主: #{@pet.user.name}" %></h2>
          <%= render 'favorite_button', { pet: @pet } %>
          <% if request.referer&.include?("/profile") %>
            <div><button class="btn btn-primary"><%= link_to "戻る", profile_path %></button></div>
          <% else %>
            <div><button class="btn btn-primary"><%= link_to "戻る", root_path %></button></div>
          <% end %>
          <div><button data-action="click->bird-speak#birdSpeak" data-bird-speak-target="birdSpeakBtn" class="btn btn-primary">聞いてみる（テキスト）</button></div>
          <% if user_signed_in? && current_user.own?(@pet) %>
            <div><button class="btn btn-secondary"><%= link_to "お別れをする", pet_path(@pet), data: { turbo_method: :delete, turbo_confirm: "本当にお別れしますか？" }  %></button></div>
          <% end %>
        </div>
        <div class="col-span-9">
          <%= image_tag @pet.bird.bird_image_url %>
        </div>
        <div class="col-span-3">
          <% if user_signed_in? && current_user.own?(@pet) %>
            <button data-action="click->talk-to-bird#startStop" data-talk-to-bird-target="startStopBtn" class="btn btn-primary">話しかける</button>
          <% end %>
        </div>
        <div class="col-span-9">
          <div data-talk-to-bird-target="transcript"></div>
          <div data-bird-speak-target="birdsaid"></div>
          <% if user_signed_in? && current_user.own?(pet) %>
            <button data-action="click->talk-to-bird#reset" data-talk-to-bird-target="resetBtn" class="btn btn-primary float-right">話しかけるのを中断する</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
