<%= turbo_frame_tag "show_pet_area" do %>
  <div data-controller="talk-to-bird" data-talk-to-bird-pet-id="<%= pet.id %>">
    <div class="container mx-auto md:w-12/12 lg:w-10/12">
      <div class="grid grid-cols-12 gap-3">
        <div class="col-span-3">
          <h2 class="card-title"><%= pet.name %></h2>
          <h2 class="card-title"><%= "飼い主: #{pet.user.name}" %></h2>
          <%= render 'pets/favorite_button', { pet: pet } %>
          <% if user_signed_in? && current_user.own?(pet) %>
            <div><button class="btn btn-primary"><%= link_to "お別れをする", pet_path(pet), data: { turbo_method: :delete, turbo_confirm: "本当にお別れしますか？" }  %></button></div>
          <% end %>
          <div><button class="btn btn-primary"><%= link_to "聞いてみる（テキスト）", speak_pet_path(pet) %></button></div>
        </div>
  
        <div class="col-span-9">
          <%= image_tag pet.bird.bird_image_url %>
        </div>
        <div class="col-span-3">
          <% if user_signed_in? && current_user.own?(pet) %>
            <button data-action="click->talk-to-bird#startStop" data-talk-to-bird-target="startStopBtn" class="btn btn-primary">話しかける</button>
          <% end %>
        </div>
        <div class="col-span-9">
          <div data-talk-to-bird-target="transcript"></div>
          <% unless @word.nil? %>
            <%= @pet.name %> says: <%= @word.word %>
          <% end %>
          <button data-action="click->talk-to-bird#reset" data-talk-to-bird-target="resetBtn" class="btn btn-primary float-right">言葉をリセットする</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
