<div class="bg-gray-800 h-screen">
  <div class="container mx-auto sm:w-11/12 lg:w-11/12">
    <div class="grid grid-cols-12 gap-3">
      <div class="col-span-3">
        <h1 class="mt-10 mb-5 text-gray-300"><%= "飼っているインコ" %></h1>
        <% if @my_pets.exists? %>
          <% @my_pets.each do |pet| %>
            <%= render 'my_pet_list', { pet: pet } %>
          <% end %>
        <% else %>
          <div class="text-gray-400">まだインコを飼っていません。</div>
          <%= link_to "インコを飼いに行く", birds_path, class: "btn btn-primary text-gray-100" %>
        <% end %>
        <h1 class="mt-10 mb-5 text-gray-300"><%= "お気に入りのインコ" %></h1>
        <% if @favorite_pets.exists? %>
          <% @favorite_pets.each do |pet| %>
            <%= render 'fav_pet_list', { pet: pet } %>
          <% end %>
        <% else %>
          <div class="text-gray-400">まだお気に入りのインコはありません。</div>
        <% end %>
      </div>
      <div class="col-span-9">
        <%= turbo_frame_tag "show_pet_area" %>
      </div>
    </div>
    <div class="container pt-3">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h1 class="float-left mb-5 text-gray-300"><%= "プロフィール" %></h1>
          <%= link_to "プロフィールの編集", edit_profile_path, class: 'btn btn-success float-right text-gray-100' %>
          <table class="table text-gray-300">
            <tr>
              <th scope="row" ><%= "名前" %></th>
              <td><%= current_user.name %></td>
            </tr>
            <tr>
              <th scope="row"><%= "Eメール" %></th>
              <td><%= current_user.email %></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
