<div class="container">
  <div class="grid sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
    <div class="card card-compact w-96 bg-base-100 shadow-xl">
      <figure><img src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="ノーマル" /></figure>
      <div class="card-body">
        <h2 class="card-title">ノーマル</h2>
        <p>並セキセイインコ（ノーマルセキセイインコ）の特徴は後頭部から背中のさざ波模様。
        代表的な色はグリーンで、これが本来の野生種に最も近い種類です。</p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary"><%= link_to "この子にする！", birds_path %></button>
        </div>
      </div>
    </div>
    <%= form_with  model: @bird, local: true do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class:'form-control' %>
      </div>
      <%= f.submit class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
