<!DOCTYPE html>
<html>
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QZV31Z5HP8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-QZV31Z5HP8');
    </script>
    <title>AIbudgie</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body class="flex flex-col min-h-screen">
    <%= render "shared/header" %>
    <%= render 'shared/flash_message' %>
    <%= yield %>

    <div class="mt-auto">
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
