<!DOCTYPE html>
<html>
  <head>
    <title>AIbudgie</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "talk_to_bird" %>
  </head>

  <body class="flex flex-col min-h-screen">
    <%= render "shared/header" %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <div class="mt-auto">
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
