<div class="bg-gray-800 h-screen">
  <div class="p-10">
    <div class="mb-6 text-center">
      <span class="text-3xl text-gray-300 font-bold">
        Sign Up
      </span>
    </div>
    
    <div class='flex flex-wrap justify-center mb-6'>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "w-11/12 md:w-10/12 xl:w-8/12" }, data: { turbo: false } ) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>
      
        <div class="mb-6">
          <%= f.label :name, class: "mb-2 block text-sm text-gray-300" %>
          <%= f.text_field :name, autofocus: true, autocomplete: "name" , class: "w-full rounded-md border border-gray-300 py-2 px-3 bg-gray-200 text-gray-800  placeholder:text-gray-300 focus:border-indigo-300 focus:outline-none focus:ring focus:ring-indigo-100" %>
        </div>
        
        <div class="mb-6">
          <%= f.label :email, class: "mb-2 block text-sm text-gray-300" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full rounded-md border border-gray-300 py-2 px-3 bg-gray-200 text-gray-800  placeholder:text-gray-300 focus:border-indigo-300 focus:outline-none focus:ring focus:ring-indigo-100" %>
        </div>
    
        <div class="mb-6">
          <%= f.label :password, "password", class: "mb-2 block text-sm text-gray-300" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, class: "w-full rounded-md border border-gray-300 py-2 px-3 bg-gray-200 text-gray-800  placeholder:text-gray-300 focus:border-indigo-300 focus:outline-none focus:ring focus:ring-indigo-100" %>
        </div>
    
        <div class="mb-6">
          <%= f.label :password_confirmation, class: "mb-2 block text-sm text-gray-300" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-full rounded-md border border-gray-300 py-2 px-3 bg-gray-200 text-gray-800 placeholder:text-gray-300 focus:border-indigo-300 focus:outline-none focus:ring focus:ring-indigo-100" %>
        </div>
    
        <div class="actions">
          <%= f.submit 'Sign Up', class: "inline-flex w-full items-center justify-center rounded-md bg-indigo-500 p-3 text-white duration-100 ease-in-out hover:bg-indigo-600 focus:outline-none cursor-pointer" %>
        </div>
      <% end %>
    </div>
    <div class="text-center">
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
